.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
  stroke: var(--text-color-primary);
  stroke-width: 1.8px;
  transition: 0.2s;
}

.title {
}
