.container {
  max-width: 490px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.status {
  margin-bottom: 2rem;
  width: 100%;
}

.title {
  margin-bottom: 0.5rem;
}
